{
  userName = "ashy";
  hostName = "nyx";
  timeZone = "America/Denver";

  keyboard = {
    enable = true;
    preset = "qwerty"; # qwerty | dvorak | colemak | workman | halmak | engram-v2 | bepo | neo | eurkey | eurkey-colemak-dh
  };

  mac = {
    mode = "random"; # default | random | stable | fixed
    interface = "wlp192s0";
    address = ""; # e.g., "00:11:22:33:44:55" when mode = "fixed"
  };

  boot = {
    mode = "uki"; # uki | secureboot
  };

  trust.phase = "dev"; # dev | enforced

  hardwareAuth = {
    trezor = {
      present = true;
      model = "one"; # one | t | unknown
    };
    fido2 = {
      present = false;
    };
  };

  ssh = {
    identity = "file"; # file | fido2
  };

  snapshots = {
    retention = 15; # -1 (not configured), 0 (disabled), >0 (enabled)
    schedule = "daily";
    prePostRebuild = true;
    remote = {
      enable = false;
      target = "";
    };
  };

  storage.trim = {
    enable = true;
    interval = "weekly";
    allowDiscardsInLuks = false;
  };

  encryption = {
    mode = "luks2"; # luks2 intent or "none"
  };

  luksGpg = {
    enable = false;
    device = "/dev/disk/by-label/nixos";
    mapperName = "root";
    encryptedKeyFile = "/persist/keys/root.key.gpg";
    encryptedKeyDevice = "/dev/disk/by-label/persist";
    encryptedKeyFsType = "btrfs";
  };

  swap = {
    mode = "partition"; # partition | none
    sizeGiB = 32;
  };

  profile.system = "latency"; # balanced | latency | throughput | battery | memory-saver

  gaming = {
    steam = false;
    gamemode = false;
    gamescope = false;
    lutris = false;
    lutrisRsi = false;
    wine = false;
    emulationstation = false;
  };

  nvidia = {
    enable = false;
    mode = "desktop"; # desktop | laptop-offload | laptop-sync
    open = true; # use open kernel module when supported
    nvidiaBusId = "PCI:1:0:0"; # required for laptop modes
    intelBusId = "PCI:0:2:0"; # set one of intelBusId or amdgpuBusId for hybrid
    amdgpuBusId = "";
  };
}
